//Variables
$max-width: 1280px;
$primary-color: #ffbc00;
$secondary-color: #cccccc;
$light-color: #f4f4f4;
$dark-color: #333;
$white-color: #fff;
$black-color: black;
$bg-image: url('../img/showcase.jpg');