// utilities
.bg {
  &-primary {
    background: $primary-color;
  }
  &-secondary {
    background: $secondary-color;
  }
  &-light {
    background: $light-color;
  }
  &-dark {
    background: $dark-color;
  }
}

.container {
  max-width: $max-width;
  padding: 0rem 1.5rem;
  overflow: hidden;
}

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  display: inline-block;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background: $primary-color;
    color: $dark-color;
  }

  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: $dark-color;
  }

  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: $light-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover{
    background-color: $primary-color;
}

%home-shared {
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  width: 100%;
}

#home {
  &-a {
    @extend %home-shared;
    flex-direction: column;
  }
  &-b {
    @extend %home-shared;
  }
  &-c {
    @extend %home-shared;
    flex-direction: column;
  }
}

.section-title {
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $primary-color;
  display: block;
  margin: 0 auto 1rem auto;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

%flex-shared {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  @extend %flex-shared;
  &-c {
    @extend %flex-shared;
    flex-direction: column;
  }
  &-side {
    @extend %flex-shared;
    justify-content: space-between;
  }
  &-even{
    @extend %flex-shared;
    justify-content: space-around;
  }
}

.stats-title {
  font-size: 1.5rem;
}

.stats-number {
  font-size: 2rem;
  font-weight: bold;
}


