.bg-primary {
  background: #ffbc00;
}

.bg-secondary {
  background: #cccccc;
}

.bg-light {
  background: #f4f4f4;
}

.bg-dark {
  background: #333;
}

.container {
  max-width: 1280px;
  padding: 0rem 1.5rem;
  overflow: hidden;
}

.btn-primary, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #ffbc00;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark {
  background: #333;
  color: #f4f4f4;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbc00;
}

#home-a, #home-b, #home-c, #main-landing-page #home-b {
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#home-a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-title {
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.flex, .flex-c, .flex-side, .flex-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flex-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-side {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-even {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.stats-title {
  font-size: 1.5rem;
}

.stats-number {
  font-size: 2rem;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  color: #333;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

h2, h3, h4 {
  text-transform: uppercase;
}

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
}

#showcase {
  background: url("../img/showcase.jpg") center center/cover no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#showcase .container {
  width: 100%;
}

#showcase .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
  height: 80px;
}

#showcase .container .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase .container .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#showcase .container .header nav ul li {
  padding: 1rem 1.5rem;
}

#showcase .container .header nav ul li a {
  padding-bottom: 0.5rem;
  color: #fff;
  border-bottom: 3px transparent solid;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#showcase .container .header nav ul li a:hover {
  border-bottom: 3px #f4f4f4 solid;
}

#showcase .container .header nav ul li a.current {
  border-bottom: #ffbc00 3.5px solid;
}

#showcase .container #showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#showcase .container #showcase-content div {
  padding-top: 20%;
  text-align: center;
}

#showcase .container #showcase-content div h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#showcase .container #showcase-content div p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

#main-landing-page #home-a .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#main-landing-page #home-a .container .specials {
  margin-top: 3rem;
}

#main-landing-page #home-a .container .specials div {
  line-height: 1.5rem;
  margin-right: 1rem;
}

#main-landing-page #home-a .container .specials div i {
  color: #ffbc00;
  padding-bottom: 0.4rem;
}

#main-landing-page #home-b div {
  width: 25%;
  padding: 3rem 0rem;
  color: black;
}

#main-landing-page #home-b div ul {
  width: 100%;
}

#main-landing-page #home-b div ul li {
  width: 100%;
  line-height: 2;
}

#main-landing-page #home-c .container {
  width: 100%;
}

#main-landing-page #home-c .container .specials div i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #333;
  color: #fff;
  padding-bottom: 0.4rem;
  margin: 2rem 0rem;
  position: relative;
  width: 120px;
  height: 120px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#main-landing-page #home-c .container .specials div i:hover {
  background-color: #ffbc00;
  width: 150px;
  height: 150px;
  line-height: 90px;
}

#main-landing-page #home-c .container .specials div i:hover div {
  background-color: #333;
  color: #fff;
}

#main-landing-page #home-c .container .specials div i div {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffbc00;
  color: #fff;
  padding: 1rem;
  font-size: 28px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#main-footer {
  background: #333;
  color: #f4f4f4;
}

#main-footer .footer-content {
  width: 100%;
  margin: 1.5rem 0rem;
}

#main-footer .footer-content .social i {
  margin-right: 1em;
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
}

#main-footer .footer-content .social i:hover {
  background: #ffbc00;
}

#header-2 {
  background: url("../img/showcase.jpg") center center/cover no-repeat;
  border-bottom: #ffbc00 solid 3px;
  height: 90px;
  padding-top: 16px;
}

#header-2 .container {
  width: 100%;
}

#header-2 .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-2 .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header-2 .container nav ul li {
  padding: 1rem 1.5rem;
}

#header-2 .container nav ul li a {
  padding-bottom: 0.5rem;
  color: #fff;
  border-bottom: 3px transparent solid;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#header-2 .container nav ul li a:hover {
  border-bottom: 3px #f4f4f4 solid;
}

#header-2 .container nav ul li a.current {
  border-bottom: #ffbc00 3.5px solid;
}

#about-a {
  padding: 3rem 0;
}

#about-a .container .about-info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

#about-a .container .about-info .bio-image {
  width: 100%;
}

#about-a .container .about-info .bio {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  padding: 0.8rem;
  border-left: #ffbc00 solid 3px;
}

#about-a .container .about-info .award i {
  color: #ffbc00;
  margin: 1rem 0;
}

#about-b {
  padding: 3rem 0;
}

#about-b .container {
  width: 100%;
  color: #fff;
}

#about-b .container h4 {
  text-align: left;
}

#about-b .container .progress {
  background: #cccccc;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.6rem;
}

#about-b .container .progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background: #ffbc00;
}

#about-c {
  padding: 4rem 0;
}

#about-c .container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#about-d {
  padding: 4rem 0;
}

#about-d .container {
  width: 100%;
}

#about-d .container .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

#about-d .container .testimonials div p {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: left;
}

#about-d .container .testimonials div ul {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 10%;
      grid-template-columns: 20% auto 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-d .container .testimonials div ul li img {
  width: 50px;
  border-radius: 50px;
  margin-right: 8px;
}

#work-a .container {
  width: 100%;
  margin: 3rem 0;
}

#work-a .container .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#work-a .container .items .item {
  position: relative;
}

#work-a .container .items .item .item-image img {
  width: 100%;
}

#work-a .container .items .item .item-text {
  position: absolute;
  width: 100%;
  z-index: 1;
}

#contact-a {
  padding: 3rem 0;
}

#contact-a .container {
  width: 100%;
}

#contact-a .container .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'input1 input2' 'input3 input4' 'gridarea gridarea';
  grid-gap: 1.2rem;
}

#contact-a .container .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-a .container .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input1;
}

#contact-a .container .text-fields .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input2;
}

#contact-a .container .text-fields .subject-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input3;
}

#contact-a .container .text-fields .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: input4;
}

#contact-a .container .text-fields .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gridarea;
  margin-bottom: 6rem;
}

#contact-a .container .btn-dark {
  width: 500px;
}

#contact-a .container .btn-dark-hover {
  background: #ffbc00;
}

#contact-b {
  padding: 3rem 0;
}

#contact-b .container {
  width: 100%;
}

#contact-b .container div {
  color: #fff;
}

#contact-c {
  padding: 4rem 0;
}

#contact-c h1 {
  color: #fff;
  font-size: 4rem;
}
/*# sourceMappingURL=style.css.map */