@import 'config';

//General Styles

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark-color;
}

body {
    color: $dark-color;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
}

h2, h3, h4{
    text-transform: uppercase;
}

// utilities
.bg{
    &-secondary{
        background: $secondary-color;
    }
    &-light{
        background: $light-color;
    }
}

.current{
    border-bottom: $primary-color 3.5px solid;
}

.container{
    width: $max-width;
    padding: 0rem 1.5rem;
}

%btn-shared{
    padding: 0.8rem 2rem;
    display: inline-block;
}

.btn{
    &-light{
        @extend %btn-shared;
        background: $light-color;
        color: $dark-color;
    }
}

%home-shared{
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    width: 100%;
}

#home{
    &-a{
        @extend %home-shared;
        flex-direction: column;
    }
    &-b{
        @extend %home-shared;
    }
    &-c{
        @extend %home-shared;
        flex-direction: column;
    }
}

.section-title{
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
}

.bottom-line{

}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

%flex-shared{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex{
    @extend %flex-shared;
    &-c{
        @extend %flex-shared;
        flex-direction: column;
    }
    &-side{
        @extend %flex-shared;
        justify-content: space-between;
    }
}

.stats-title{
    font-size: 1.5rem;
}

.stats-number{
    font-size: 2rem;
}

.process-icon{
    border-radius: 50%;
}

.process-step{
    border-radius: 50%;
}

.social i{
    margin-right: 1em;
    padding: 0.5rem;
    border-radius: 50%;
    border: 2px solid $white-color;
    &:hover{
        background: $primary-color;
    }
}

//showcase //header

#showcase{
    background: $bg-image center center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: $white-color;
    .container{
        .header{
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            width: 100%;
            height: 80px;
            img{
                height: 100%;
            }
            nav{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    li{
                        padding: 1rem 1.5rem;
                        a{
                            padding-bottom: 0.5rem;
                            color: $white-color;
                            &:hover{

                            }
                        }
                    }
                }
            }
        }
        #showcase-content{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            div{
                padding-top: 16rem;
                text-align: center;
                h1{
                    font-size: 4rem;
                }
                p{
                    font-size: 1.3rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

#main-landing-page {
    #home-a{
        .container{
            max-width: $max-width;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            .specials{
                div{
                    line-height: 1.5rem;
                    i{
                        color: $primary-color;
                        padding-bottom: 0.4rem;
                    }
                }
            }
        }
    }
    #home-b{
        @extend %home-shared; 
        div{
            width: 25%;
            padding: 3rem 0rem;
            ul{
                width: 100%;
                li{
                    width: 100%;
                }
            }
        }
    }
    #home-c{
        .container{
            max-width: $max-width;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            .specials{
                div{
                    line-height: 1.5rem;
                    i{
                        background: $dark-color;
                        color: $light-color;
                        padding-bottom: 0.4rem;
                        margin: 2rem 0rem;
                        padding: 2rem;
                        position: relative;
                        div{
                            position: absolute;
                            top:0;
                            right: 0;
                            background: $primary-color;
                            padding: 1rem;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        } 
    }
}

#main-footer{
    width: 100%;
    background: $dark-color;
    color: $light-color;
    .footer-content{
        margin: 1.5rem 0rem;
    }
}

// work

