* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  color: #333;
  font-family: 'Dosis', sans-serif;
}

.bg-secondary {
  background: #cccccc;
}

.current {
  border-bottom: orange 3.5px solid;
}

.container {
  width: 1300px;
  padding: 0rem 1.5rem;
}

.btn-light {
  padding: 0.8rem 2rem;
  display: inline-block;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

#home-a, #home-b, #main-landing-page #home-b {
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#home-a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-title {
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flex-center-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stats-title {
  font-size: 1.5rem;
}

.stats-number {
  font-size: 2rem;
}

#showcase {
  background: url("../img/showcase.jpg") center center/cover no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f4f4f4;
}

#showcase .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  width: 100%;
  height: 80px;
}

#showcase .container .header img {
  height: 100%;
}

#showcase .container .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase .container .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#showcase .container .header nav ul li {
  padding: 1rem 1.5rem;
}

#showcase .container .header nav ul li a {
  padding-bottom: 0.5rem;
  color: #f4f4f4;
}

#showcase .container #showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#showcase .container #showcase-content div {
  padding-top: 12.5rem;
  text-align: center;
}

#showcase .container #showcase-content div h1 {
  font-size: 4rem;
}

#showcase .container #showcase-content div p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

#main-landing-page #home-a .container {
  max-width: 1300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#main-landing-page #home-a .container .specials div {
  line-height: 1.5rem;
}

#main-landing-page #home-a .container .specials div i {
  color: orange;
  padding-bottom: 0.4rem;
}

#main-landing-page #home-b div {
  width: 25%;
  padding: 3rem 0rem;
}

#main-landing-page #home-b div ul {
  width: 100%;
}

#main-landing-page #home-b div ul li {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */