@import 'config';
@import 'utilities';

//General Styles

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark-color;
}

body {
    color: $dark-color;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
}

h2, h3, h4{
    text-transform: uppercase;
}


//showcase //header

#logo {
    width: 70px;
    height: 70px;
    color: #fff;
}

#showcase{
    background: $bg-image center center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: $white-color;
    .container{
        width: 100%;
        .header{
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            width: 100%;
            height: 80px;
            nav{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    li{
                        padding: 1rem 1.5rem;
                        a{
                            padding-bottom: 0.5rem;
                            color: $white-color;
                            border-bottom: 3px transparent solid;
                            transition: border-color 0.5s;
                            &:hover{
                                border-bottom: 3px $light-color solid;
                            }
                            &.current {
                                border-bottom: $primary-color 3.5px solid;
                              }
                        }
                    }
                }
            }
        }
        #showcase-content{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            div{
                padding-top: 20%;
                text-align: center;
                h1{
                    font-size: 4rem;
                    line-height: 1.2;
                }
                p{
                    font-size: 1.3rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

#main-landing-page {
    #home-a{
        .container{
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            .specials{
                margin-top: 3rem;
                div{
                    line-height: 1.5rem;
                    margin-right: 1rem;
                    i{
                        color: $primary-color;
                        padding-bottom: 0.4rem;
                    }
                }
            }
        }
    }
    #home-b{
        @extend %home-shared; 
        div{
            width: 25%;
            padding: 3rem 0rem;
            color: $black-color;
            ul{
                width: 100%;
                li{
                    width: 100%;
                    line-height: 2;
                }
            }
        }
    }
    #home-c{
        .container{
            width: 100%;
            .specials{
                div{
                    i{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $dark-color;
                        color: set-text-color($dark-color);
                        padding-bottom: 0.4rem;
                        margin: 2rem 0rem;
                        position: relative;
                        width: 120px;
                        height: 120px;
                        transition-property: background-color;
                        border-radius: 50%;
                        transition: all 1s;
                        &:hover{
                            background-color: $primary-color;
                            width: 150px;
                            height: 150px;
                            line-height: 90px;
                            div{
                                background-color: $dark-color;
                                color: set-text-color($dark-color);
                            }
                        }
                        div{
                            position: absolute;
                            top:0;
                            right: 0;
                            background: $primary-color;
                            color: set-text-color($primary-color);
                            padding: 1rem;
                            font-size: 28px;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            line-height: 15px;
                            transition: all 1s;
                        }
                    }
                }
            }
        } 
    }
}

#main-footer{
    background: $dark-color;
    color: $light-color;
    .footer-content{
        width: 100%;
        margin: 1.5rem 0rem;
        .social i {
            margin-right: 1em;
            padding: 0.5rem;
            border-radius: 50%;
            border: 2px solid $white-color;
            &:hover {
              background: $primary-color;
            }
        }
    }
}



// about page

#header-2{
    background: $bg-image center center/cover no-repeat;
    border-bottom: $primary-color solid 3px;
    height: 90px;
    padding-top: 16px;
    .container{
        width: 100%;
        nav{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                li{
                    padding: 1rem 1.5rem;

                    a{
                        padding-bottom: 0.5rem;
                        color: $white-color;
                        border-bottom: 3px transparent solid;
                        transition: border-color 0.5s;
                        &:hover{
                            border-bottom: 3px $light-color solid;
                        }
                        &.current {
                            border-bottom: $primary-color 3.5px solid;
                          }
                    }
                }
            }
        }
    }
}

#about-a{
    padding: 3rem 0;
    .container{
        .about-info{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1.5rem;
            .bio-image{
                width: 100%;
            }
            .bio{
                grid-column: 2 / span 2;
                padding: 0.8rem;
                border-left: $primary-color solid 3px;
            }
            .award{
                i{
                    color: $primary-color;
                    margin: 1rem 0;
                }
            }
        }
    }
}

#about-b{
    padding: 3rem 0;
    .container{
        width: 100%;
        color: $white-color;
        h4{
            text-align: left;
        }
        .progress{
            background: $secondary-color;
            height: 20px;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 0.6rem;
            div {
                height: 100%;
                color: #fff;
                text-align: center;
                background: $primary-color;
              }
        }
    }
}

#about-c{
    padding: 4rem 0;
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }
}

#about-d{
    padding: 4rem 0;
    .container{
        width: 100%;
        .testimonials{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.5rem;
            div{
                p{
                    border: 1px solid $secondary-color;
                    border-radius: 5px;
                    padding: 0.5rem;
                    text-align: left;
                }
                ul{
                    margin-top: 1rem;
                    display: grid;
                    grid-template-columns: 25% auto 10%;
                    align-items: center;
                    li{
                        img{
                            width: 100%;
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
    }
}

