@import 'config';
@import 'utilities';

//General Styles

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark-color;
}

body {
    color: $dark-color;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
}

h2, h3, h4{
    text-transform: uppercase;
}


//showcase //header

#logo {
    width: 70px;
    height: 70px;
    color: #fff;
}

#showcase{
    background: $bg-image center center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: $white-color;
    .container{
        .header{
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
            width: 100%;
            height: 80px;
            nav{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    li{
                        padding: 1rem 1.5rem;
                        a{
                            padding-bottom: 0.5rem;
                            color: $white-color;
                            border-bottom: 3px transparent solid;
                            transition: border-color 0.5s;
                            &:hover{
                                border-bottom: 3px $light-color solid;
                            }
                            &.current {
                                border-bottom: $primary-color 3.5px solid;
                              }
                        }
                    }
                }
            }
        }
        #showcase-content{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            div{
                padding-top: 20%;
                text-align: center;
                h1{
                    font-size: 4rem;
                    line-height: 1.2;
                }
                p{
                    font-size: 1.3rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

#main-landing-page {
    #home-a{
        .container{
            max-width: $max-width;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            .specials{
                div{
                    line-height: 1.5rem;
                    i{
                        color: $primary-color;
                        padding-bottom: 0.4rem;
                    }
                }
            }
        }
    }
    #home-b{
        @extend %home-shared; 
        div{
            width: 25%;
            padding: 3rem 0rem;
            ul{
                width: 100%;
                li{
                    width: 100%;
                }
            }
        }
    }
    #home-c{
        .container{
            max-width: $max-width;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            .specials{
                div{
                    line-height: 1.5rem;
                    i{
                        background: $dark-color;
                        color: $light-color;
                        padding-bottom: 0.4rem;
                        margin: 2rem 0rem;
                        padding: 2rem;
                        position: relative;
                        div{
                            position: absolute;
                            top:0;
                            right: 0;
                            background: $primary-color;
                            padding: 1rem;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        } 
    }
}

#main-footer{
    width: 100%;
    background: $dark-color;
    color: $light-color;
    .footer-content{
        margin: 1.5rem 0rem;
    }
}

// work

